.news-layer{
	height:950px;
}

.content{
	width:1000px;
	height:500px;
	position:absolute;
	margin-left:175px; color:#fff;
	font-family:HandelGothic BT; font-size:14px;
}

.content h1{
	color:#76B900;
}

.content a{
	text-decoration:none;
	color:#76B900;
}

.content-content{
	width:40%; height:250px;
	margin-top:250px; margin-left:175px;
	background-color:#000;
	border-radius:11px; color:#fff;
	font-family:PositecBold; font-size:20px;
}

.content-content p{
	font-family:HandelGothic BT; font-size:14px;
}

.content-content a{
	text-decoration:none;
	color:#76B900;
}