#foot img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#foot img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}

#footm img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#footm img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}

#footn img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#footn img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}

#footn1 img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#footn1 img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}

#footn2 img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#footn2 img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}

#foota img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#foota img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}

#footb img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#footb img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}
#footc img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#footc img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}

#footf img.bot-icon{
	width:30px; 
	background:#79DADC;
	padding:10px;
	
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	
	-o-border-radius:40px;
	-ms-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	}	
.bot-icon{margin: 0 20px 0 20px;}

#footf img.bot-icon:hover{
	background:#aaaaaa;
	opacity:1;
	
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	
	}